<section id="portfolio">

  <div class="row section-head">
     <div class="col full">

        <h2>Portfolio</h2>
        <p class="desc">Check out our latest projects.</p>

        <p class="intro">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
        </p>

     </div>
  </div>

  <div class="row">

   <!-- Portfolio Wrapper -->
   <div id="portfolio-wrapper">

     <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-01"><img src="../../../assets/images/portfolio/cosmic-sneakers.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Cosmic Sneakers</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-02"><img src="../../../assets/images/portfolio/milk-splash.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Milk Splash</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-03"><img src="../../../assets/images/portfolio/eve.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Eve</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-04"><img src="../../../assets/images/portfolio/sneaker-splash.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Sneaker Splash</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-05"><img src="../../../assets/images/portfolio/judah.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Judah</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-06"><img src="../../../assets/images/portfolio/vector-flower.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Vector Flower</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-07"><img src="../../../assets/images/portfolio/clock.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Clock</a></h5>
         </div>
           </div>
     </div>

        <div class="col portfolio-item">
           <div class="item-wrap">
         <a href="#" data-reveal-id="modal-08"><img src="../../../assets/images/portfolio/fields.jpg" alt=""/></a>
         <div class="portfolio-item-meta">
           <h5><a href="#">Fields</a></h5>
         </div>
           </div>
     </div>

   </div> <!-- Portfolio Wrapper End -->


</div> <!-- End Row -->


  <!-- Modal Popup
 =========================================================== -->

  <!-- modal-01 -->
 <div id="modal-01" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-cosmic-sneakers.jpg" alt="" />

   <div class="description-box">
     <h4>The Cosmic Sneakers</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
   </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div><!-- modal-01 End -->

  <!-- modal-02 -->
 <div id="modal-02" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-milk-splash.jpg" alt="" />

   <div class="description-box">
     <h4>Milk Splash</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-02 End -->

  <!-- modal-03 -->
 <div id="modal-03" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-eve.jpg" alt="" />

   <div class="description-box">
     <h4>Eve</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Photography, Branding</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-03 End -->

  <!-- modal-04 -->
 <div id="modal-04" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-sneaker-splash.jpg" alt="" />

   <div class="description-box">
     <h4>Sneaker Splash</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Photography, Branding</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-04 End -->

  <!-- modal-05 -->
 <div id="modal-05" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-judah.jpg" alt="" />

   <div class="description-box">
     <h4>Judah</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Photography, Web Design</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-05 End -->

  <!-- modal-06 -->
 <div id="modal-06" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-vector-flower.jpg" alt="" />

   <div class="description-box">
     <h4>Vector Flower</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-06 End -->

  <!-- modal-07 -->
 <div id="modal-07" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-clock.jpg" alt="" />

   <div class="description-box">
     <h4>Clock</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Branding, Web Design</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-07 End -->

  <!-- modal-08 -->
 <div id="modal-08" class="reveal-modal">

   <img class="scale-with-grid" src="../../../assets/images/portfolio/modals/m-fields.jpg" alt="" />

   <div class="description-box">
     <h4>Fields</h4>
     <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
        <span class="categories"><i class="icon-tag"></i>Photography</span>
     </div>

     <div class="link-box">
        <a href="http://www.behance.net">Details</a>
      <a class="close-reveal-modal">Close</a>
     </div>

 </div> <!-- modal-08 End -->

</section> <!-- Portfolio End -->
