

/* ================================================================== */

/* m. footer

/* ================================================================== */

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #303030;
    font-size: 14px;
 }
 footer a, footer a:visited { color: #0B686B; }
 footer a:hover, footer a:focus { color: #fff; }
 
 /* copyright */
 footer .copyright {
     margin: 0;
     padding: 0;
  }
 footer .copyright li {
     display: inline-block;
     margin: 0;
     padding: 0;
     line-height: 24px;
 }
 .ie footer .copyright li {
    display: inline;
 }
 
 footer .copyright li:before {
     content: "|";
     padding-left: 10px;
     padding-right: 10px;
     color: #095153;
 }
 footer .copyright  li:first-child:before {
     display: none;
 }
 
 /* social links */
 footer .social-links {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-top: -3px;
    float: right;
 }
 footer .social-links li {
     display: inline-block;
     margin: 0;
     padding: 0;
     margin-left: 24px;
 }
 footer .social-links li:first-child { margin-left: 0; }
 