<header class="mobile">

  <div class="row">

    <div class="col full">

      <div class="logo">
        <a>
          <img alt="" src="../../../assets/images/logo.png">
        </a>
      </div>

      <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
          <li>
            <a routerLink="/" class="nav-link" routerLinkActive="active-link">Home</a>
          </li>
          <li>
            <a routerLink="/services" class="nav-link" routerLinkActive="active-link">Services</a>
          </li>
          <li>
              <a routerLink="/clients" class="nav-link" routerLinkActive="active-link">Clients</a>
          </li>
          <li>
              <a routerLink="/journals" class="nav-link" routerLinkActive="active-link">Journal</a>
          </li>
          <li>
            <a routerLink="/about" class="nav-link" routerLinkActive="active-link">About us</a>
          </li>
          <li>
              <a routerLink="/contact" class="nav-link" routerLinkActive="active-link">Contact</a>
          </li>
        </ul>

      </nav>

    </div>

  </div>

</header>
<!-- Header End -->