<section id="services">

  <div class="row section-head">

     <div class="col one-third">
        <h2>Services</h2>
        <p class="desc">Our list of awesome services.</p>
     </div>

     <div class="col two-thirds">
        <div class="intro">
         <p>Remote Work <br> et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
          deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
          </p>
        </div>
     </div>

  </div>

  <div class="row">

     <div class="services-wrapper">

        <div class="col">
           <h2><i class="icon-desktop"></i>HR Consulting</h2>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
           deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
           At vero eos et accusamus et molestias iusto odio dignissimos.</p>
        </div>

        <div class="col">
           <h2><i class="icon-star"></i>Recruitment</h2>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
           deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
           At vero eos et accusamus et iusto odio dignissimos.</p>
        </div>

        <div class="col m-first">
           <h2><i class="icon-camera"></i>Employee Branding</h2>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
           deleniti atque corrupti quos dolores et molestias quas molestias excepturi sint occaecati cupiditate.
           At vero eos et accusamus et iusto odio dignissimos.</p>
        </div>

        <div class="col first">
           <h2><i class="icon-globe"></i>Performance Metric</h2>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
           deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
           At vero eos et accusamus et iusto odio molestias dignissimos.</p>
        </div>

        <div class="col m-first">
           <h2><i class=" icon-list-alt"></i>Motivation</h2>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
           deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
           At vero eos et accusamus et iusto odio dignissimos.</p>
        </div>

        <div class="col">
           <h2><i class="icon-print"></i>Career Coaching</h2>
           <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
           deleniti atque corrupti molestias quos dolores et quas molestias excepturi sint occaecati cupiditate.
           At vero eos et accusamus et iusto odio dignissimos.</p>
        </div>

     </div> <!-- Services-Wrapper End -->

  </div> <!--end row -->

</section> <!-- Services Section End -->